<!-- Credit goes to: https://code.tutsplus.com/tutorials/create-a-contact-form-in-php--cms-32314 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weltladen Bonn Corona Shopper</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
</head>

<body>
  <div class="form" id="form">
    <h1>Weltladen Bonn Corona Shopper</h1>
    <form action="send-mail.php" method="post">
      <div class="elem-group">
        <label for="name">Wie heißt du?</label>
        <input type="text" id="name" name="visitor_name" placeholder="Max Mustermann" pattern=[A-Z\sa-z]{3,40} required>
      </div>
      <div class="elem-group">
        <label for="email">Deine E-Mail-Adresse</label>
        <input type="email" id="email" name="visitor_email" placeholder="max.mustermann@email.com" required>
      </div>
      <div class="elem-group">
        <label for="product-selection">Welche Produkte möchtest du?</label>
        <button class="add-prod-button" type="button" v-on:click="addProduct">+ Produkt hinzufügen</button>
        <table id="product-selection">
          <tbody>
            <tr>
              <th>Produktname</th>
              <th>Stückzahl</th>
            </tr>
            <tr v-for="product in products">
              <td>
                <select v-bind:id="'product'+product.id" v-bind:name="'product'+product.id" v-model="product.productId" required>
                  <option v-for="p in productList" v-bind:value="p.id">{{ p.name }}</option>
                </select>
              </td>
              <td class="quant-col">
                <input type="number" v-bind:id="'quantity'+product.id" v-bind:name="'quantity'+product.id" min="0" max="1000" v-model="product.quantity">
              </td>
              <td class="quant-col">
                <button type="button" class="square" v-on:click="removeProduct(product.id)"><ion-icon name="trash-outline"></ion-icon></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="elem-group">
        <label for="message">Möchtest du uns etwas mitteilen?</label>
        <textarea id="message" name="visitor_message" placeholder="Hier kannst du z.B. weitere Produkte erwähnen, die wir dazu packen sollen."></textarea>
      </div>
      <button type="submit">Bestellung abschicken</button>
    </form>
  </div>
  <!-- <script src="https://vuejs.org/js/vue.js"></script> (Development version) -->
  <!-- <script src="https://vuejs.org/js/vue.min.js"></script> (Production version) -->
  <script src="vue.js"></script>
  <!-- <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script> -->
  <!-- <script src="ionicons.js"></script> -->
  <script>
    var app = new Vue({
      el: '#form',
      data: {
        productList: [{
          id: 'a',
          name: 'Schoko-Osterhase',
          price: "3.50"
        }, {
          id: 'b',
          name: 'Zotter-Tafel "Naschhasi"',
          price: "3.50"
        }],
        products: [{
          id: 1,
          productId: 'a',
          quantity: 0,
          price: "0.00"
        }]
      },
      methods: {
        addProduct: function() {
          let currId = 0;
          if (this.products.length > 0) {
            currId = this.products[this.products.length - 1].id;
          }
          this.products.push({
            id: currId + 1,
            productId: 'a',
            quantity: 0
          })
        },
        removeProduct: function(id) {
          let now = this.products;
          console.log(now);
          this.products.splice(id - 1, 1);
          // same behavior as:
          // Vue.delete(this.products, id - 1);
          /* reassign IDs as it is necessary when product was not removed from end */
          let i = 1;
          for (let product of this.products) {
            product.id = i;
            i += 1;
          }
          console.log(this.products);
        }
      }
    });
  </script>
</body>

</html>