<!-- Credit goes to: https://code.tutsplus.com/tutorials/create-a-contact-form-in-php--cms-32314 -->
<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weltladen Bonn Bestellformular</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <!-- <script type="module" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script> -->
  <!-- <script nomodule="" src="https://unpkg.com/ionicons@5.0.0/dist/ionicons/ionicons.js"></script> -->
  <script nomodule="" src="lib/ionicons.js"></script>
  <script type="module" src="lib/ionicons.esm.js"></script>
</head>

<body>
  <div class="form" id="form">
    <h1>Weltladen Bonn Bestellformular</h1>
    <h2>Leider können wir aktuell nicht regulär für Sie öffnen, gerne sind wir jedoch auf diese Weise für Sie da.</h2>
    <!-- Collapsible: https://alligator.io/css/collapsible/ -->
    <div class="wrap-collabsible">
      <input id="collapsible" class="toggle" type="checkbox">
      <label for="collapsible" class="lbl-toggle" tabindex="0">So geht's</label>
      <div class="collapsible-content">
        <div class="content-inner">
          <p>
            <ol>
              <li>Geben Sie Ihre Kontaktdaten an, wir benötigen sie zur Abwicklung der Bestellung (und nur dafür).</li>
              <li>Wählen Sie zuerst eine Produktgruppe aus und dann im Feld rechts davon eines der Produkte. Danach können Sie daneben die Stückzahl eingeben, ganz rechts erscheint der Gesamtpreis für dieses Produkt.</li>
              <li>Über den Button (+ Produkt hinzufügen) fügen Sie Produkte hinzu, über das Mülltonnensymbol <span>(<ion-icon name="trash-outline" style="vertical-align: middle;"></ion-icon>)</span> können Sie sie löschen. Es gibt keine erforderliche Mindestbestellmenge
                pro Produkt.</li>
              <li>Wenn Sie etwas bestellen möchten, das Sie nicht in der Produktauswahl finden, können Sie im Freitextfeld unter dem Gesamtpreis hinzufügen.</li>
              <li>Nach dem Klick auf „Absenden und Bestellen“ erhalten Sie die Übersicht Ihrer Bestellung per E-Mail zugeschickt.</li>
              <li>Wir melden uns anschließend bei Ihnen, um Ihnen das nächste mögliche Abholdatum zu nennen, außerdem um ggf. offene Fragen zu klären. Falls der Termin nicht passt, finden wir eine passende Alternative. <strong>Wichtig: bitte bestätigen Sie den Abholtermin, damit die Ware für Sie gepackt wird.</strong></li>
              <li>Kommen Sie zum vereinbarten Termin zum Laden und holen Sie Ihre Bestellung ab. Bitte halten Sie dabei die empfohlenen Hygieneempfehlungen ein, insbesondere den Abstand.</li>
              <li>Freuen Sie sich über leckere Produkte aus Fairem Handel. Sie unterstützen damit sowohl die lokalen Strukturen des Fairen Handels als auch die Fairhandelskooperativen und Kleinproduzent*innen weltweit!</li>
            </ol>
          </p>
        </div>
      </div>
    </div>
    <h2>Ihre Kontaktdaten:</h2>
    <form action="send-mail.php" method="post">
      <fieldset class="elem-group">
        <label for="name">Vor- und Nachname*</label>
        <input type="text" id="name" name="visitor_name" placeholder="Max Mustermann" pattern="[A-Z\sa-z]{3,50}" required>
      </fieldset>
      <fieldset class="elem-group">
        <label for="email">E-Mail-Adresse*</label>
        <input type="email" id="email" name="visitor_email" placeholder="max.mustermann@beispiel.de" required>
      </fieldset>
      <fieldset class="elem-group">
        <label for="phone">Telefonnummer*</label>
        <input type="text" id="phone" name="visitor_phone" placeholder="0228/12345678" pattern="[+0-9 /\-]{3,30}" required>
      </fieldset>
      <fieldset class="elem-group">
        <label for="address">Adresse</label>
        <input type="text" id="address" name="visitor_address" placeholder="Max-Mustermann-Straße 12, 53123 Bonn" pattern="[\w\s.,\-\(\)/&+\*]{5,100}">
      </fieldset>
      <h2>Ich möchte folgende Produkte bestellen (vorbehaltlich Lieferbarkeit):</h2>
      <fieldset class="elem-group">
        <div v-for="item in items" id="product-selection">
          <div>
            <label v-bind:for="'productgroup'+item.position">Produktgruppe</label>
            <select v-bind:id="'productgroup'+item.position" v-bind:name="'productgroup'+item.position" v-model="item.productgroup" v-on:change="updateItemProducts(item.position)" required>
              <option value="" disabled selected>Bitte auswählen...</option>
              <option v-for="pg in productGroupList" v-bind:value="pg">{{ pg }}</option>
            </select>
          </div>
          <div>
            <label v-bind:for="'product'+item.position">Produkt</label>
            <select v-bind:id="'product'+item.position" v-bind:name="'product'+item.position" v-model="item.id" v-on:change="updateItem(item)" required>
              <option value="" disabled selected>Bitte auswählen...</option>
              <option v-for="p in item.products" v-bind:value="p.lieferant_name+'______'+p.artikel_nr">{{ p.artikel_name + ' (' + p.lieferant_name + ')' }}</option>
            </select>
          </div>
          <div>
            <label v-bind:for="'stueck'+item.position">Stück</label>
            <input type="number" v-bind:id="'stueck'+item.position" v-bind:name="'stueck'+item.position" min="1" max="1000" v-model="item.stueck">
          </div>
          <div>
            <label v-bind:for="'preis'+item.position">Preis</label>
            <input type="text" v-bind:id="'preis'+item.position" v-bind:name="'preis'+item.position" v-bind:value="preis(item)" disabled>
          </div>
          <button type="button" class="square" v-on:click="removeProduct(item.position)"><ion-icon name="trash-outline"></ion-icon></button>
        </div>
        <div class="ges-betrag">
          <label for="ges-betrag">Gesamtbetrag (inkl. Pfand):</label>
          <input type="text" id="ges-betrag" v-bind:value="gesBetrag()" disabled>
        </div>
        <button class="add-prod-button" type="button" v-on:click="addProduct">+ Produkt hinzufügen</button>
      </fieldset>
      <fieldset class="elem-group">
        <label for="message">Ich habe Interesse an folgenden weiteren Produkten oder folgende Fragen, bitte senden Sie mir dazu Informationen zu:</label>
        <textarea id="message" name="visitor_message" placeholder="Hier kannst du z.B. weitere Produkte erwähnen, die wir dazu packen sollen."></textarea>
      </fieldset>
      <fieldset class="elem-group checkboxes">
        <input type="checkbox" id="datenschutz" name="datenschutz" value="datenschutz_true" required>
        <label for="datenschutz">
          * Hiermit willige ich ein, dass meine Daten ausschließlich zum Zweck der Abwicklung der hier
          eingegebenen Anfrage und Bestellung verwendet werden. Ist dieser Zweck erfüllt, werden meine
          Daten gelöscht, sofern keine gesetzlichen Aufbewahrungspflichten dagegen sprechen. Sind alle
          Aufbewahrungspflichten abgelaufen, werden die Daten vollständig gelöscht. Eine Verarbeitung
          zu anderem Zwecke oder Weitergabe an Dritte erfolgt grundsätzlich nicht.
        </label>
        <input type="checkbox" id="hygiene" name="hygiene" value="hygiene_true" required>
        <label for="hygiene">
          * Hiermit willige ich ein, mich bei der Übergabe der Bestellung an die derzeitigen Vorgaben
          und Empfehlungen für den sicheren Kontakt in der Öffentlichkeit zu halten, beispielsweise
          Vorgaben von Bund, Land und Stadt Bonn sowie Empfehlungen des Robert-Koch-Instituts, um weder
          mich noch die Mitarbeitenden des Weltladens noch andere Kund*innen zu gefährden.
        </label>
        <input type="checkbox" id="lieferung" name="lieferung" value="lieferung_true">
        <label for="lieferung">
          Ich gehöre zu einer Risikogruppe, habe engen Kontakt mit Personen aus Riskogruppen oder
          befinde mich in Quarantäne, weshalb mir der Weg zum Weltladen unmöglich oder ein zu hohes
          Risiko ist. Bitte teilen Sie mir mit, ob meine Bestellung an die oben angegebene Anschrift
          geliefert werden kann. Für die Lieferung entstehen keine Kosten.
        </label>
      </fieldset>
      <label>* = Pflichtfeld</label>
      <fieldset>
        <button type="submit">Bestellung abschicken</button>
      </fieldset>
    </form>
  </div>
  <!-- <script src="https://vuejs.org/js/vue.js"></script> (Development version) -->
  <!-- <script src="https://vuejs.org/js/vue.min.js"></script> (Production version) -->
  <script src="lib/vue.js"></script>
  <!-- <script src="https://unpkg.com/vue-select@latest"></script>
  <link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css"> -->
  <!-- <script src="lib/vue-select@latest"></script> -->
  <!-- <link rel="stylesheet" href="lib/vue-select.css"> -->
  <!-- <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script> -->
  <!-- <script src="ionicons.js"></script> -->
  <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
  <script src="lib/axios.min.js"></script>
  <script>
    window.onload = function() {
      // Collapsible: https://alligator.io/css/collapsible/
      let myLabels = document.querySelectorAll('.lbl-toggle');
      Array.from(myLabels).forEach(label => {
        label.addEventListener('keydown', e => {
          // 32 === spacebar
          // 13 === enter
          if (e.which === 32 || e.which === 13) {
            e.preventDefault();
            label.click();
          };
        });
      });
    }

    let currFormatter = Intl.NumberFormat('de-DE', {
      style: 'currency',
      currency: 'EUR'
    });

    // Vue.component('v-select', VueSelect.VueSelect);

    Vue.config.ignoredElements = [/^ion-/];
    var app = new Vue({
      el: '#form',
      data: {
        productGroupList: [],
        items: [{
          position: 1,
          productgroup: "",
          products: [],
          id: {
            lieferant_name: "",
            artikel_name: ""
          },
          vk_preis: 0,
          pfand: 0,
          stueck: 1
        }]
      },
      methods: {
        addProduct: function() {
          let currPosition = 0;
          if (this.items.length > 0) {
            currPosition = this.items[this.items.length - 1].position;
          }
          this.items.push({
            position: currPosition + 1,
            productgroup: "",
            products: [],
            id: {
              lieferant_name: "",
              artikel_name: ""
            },
            vk_preis: 0,
            pfand: 0,
            stueck: 1
          });
        },
        removeProduct: function(position) {
          this.items.splice(position - 1, 1);
          // same behavior as:
          // Vue.delete(this.items, position - 1);
          /* reassign positions as it is necessary when product was not removed from end */
          let i = 1;
          for (let item of this.items) {
            item.position = i;
            i += 1;
          }
        },
        productsInGroupPromise: function(productgroup) {
          /* https://www.thetechieshouse.com/vue-js-rest-api-example-with-axios-ajax-alternative/ */
          /* https://stackoverflow.com/questions/49661209/get-response-from-axios-with-await-async */
          return axios.get('api/artikel/read_group.php', {
              params: {
                name: productgroup
              }
            })
            .then(response => response.data.records)
            .catch(error => console.log(error));
        },
        updateItemProducts: function(position) {
          let item = this.items[position - 1];
          this.productsInGroupPromise(item.productgroup)
            .then(prods => {
              item.products = prods;
              item.id = "";
            });
        },
        updateItem: function(item) {
          const prod = item.products.filter(p => {
            let id = item.id.split("______");
            return p.lieferant_name === id[0] && p.artikel_nr === id[1]
          })[0];
          item.vk_preis = prod.vk_preis;
          item.pfand = prod.pfand;
        },
        preis: function(item) {
          return currFormatter.format(item.vk_preis * item.stueck)
        },
        gesBetrag: function() {
          let gesPreis = 0;
          for (let i of this.items) {
            gesPreis = gesPreis + i.vk_preis * i.stueck;
          }
          let gesPfand = 0;
          for (let i of this.items) {
            if (i.pfand !== null) {
              gesPfand = gesPfand + i.pfand * i.stueck;
            }
          }
          return currFormatter.format(gesPreis + gesPfand);
        }
      },
      mounted: function() {
        axios.get('api/produktgruppe/read_all.php')
          .then(response => {
            let pgl = response.data.records;
            pgl = pgl.filter(pg => pg !== "Bananen");
            app.productGroupList = pgl;
          })
          .catch(error => console.log(error));
      }
    });
  </script>
</body>

</html>