/* @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap'); */


/* *********************
   * Text and headings *
   ********************* */


/* latin */

@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Amatic SC Bold'), local('AmaticSC-Bold'), url('fonts/Amatic/AmaticSC-Bold.ttf') format('truetype');
  /* unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; */
}


/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap'); */


/* latin */

@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Open Sans Condensed Light'), local('OpenSansCondensed-Light'), url('fonts/OpenSansCondensed/OpenSansCondensed-Light.ttf') format('truetype');
  /* unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; */
}


/* latin */

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url('fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
  /* unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; */
}


/* latin */

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Ubuntu Medium'), local('Ubuntu-Medium'), url('fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
  /* unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; */
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;
  font-size: 1em;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 4em;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3em;
  }
}

h2 {
  margin-top: 50px;
  margin-bottom: 20px;
}

strong {
  font-weight: bold;
}

a {
  text-decoration: none;
}


/* Logo */

.back {
  margin-top: 30px;
}

h1 {
  display: flex;
  align-items: center;
}

h1 img {
  width: 150px;
  height: 150px;
  vertical-align: middle;
  margin-right: 20px;
}

@media (max-width: 768px) {
  h1 img {
    width: 75px;
    height: 75px;
    vertical-align: middle;
    margin-right: 20px;
  }
}

@media (max-width: 400px) {
  h1 img {
    display: none;
  }
}


/* ***************
   * Collapsible *
   *************** */

input#collapsible {
  display: none;
}

.lbl-toggle {
  display: block;
}

.lbl-toggle:hover {
  background-color: #1EB300;
}


/* arrow (triangle): */

.lbl-toggle::before {
  content: ' ';
  display: inline-block;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}

.collapsible-content .content-inner {
  background-color: rgba(250, 224, 66, .2);
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
}

.collapsible-content {
  /* content invisible by default: */
  max-height: 0px;
  overflow: hidden;
  /* another option: smaller collapsed max-height and: */
  /* overflow: auto; */
  transition: max-height .25s ease-in-out;
}

.toggle:checked+.lbl-toggle+.collapsible-content {
  /* content becomes visible when toggled: */
  max-height: 500vh;
}

.toggle:checked+.lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked+.lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


/* ********
   * Form *
   ******** */

div.form {
  max-width: 1000px;
  width: 80%;
  margin: auto;
}

@media (max-width: 768px) {
  div.form {
    width: 90%;
  }
}

fieldset {
  border: none;
  /* https://stackoverflow.com/questions/17408815/fieldset-resizes-wrong-appears-to-have-unremovable-min-width-min-content: */
  min-width: 0;
  /* max-width: 100%; */
  margin: 40px 0;
  padding: 0;
}

@media (max-width: 768px) {
  fieldset {
    margin: 20px 0;
  }
}

.product-selection {
  display: grid;
  grid-template-areas: "produktgruppe produkt stueck preis muelltonne";
  grid-template-columns: 220px auto 60px 80px 40px;
  column-gap: 2%;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 2px solid lightgray;
}

.produktgruppe {
  grid-area: produktgruppe;
}

.produkt {
  grid-area: produkt;
}

.stueck {
  grid-area: stueck;
}

.preis {
  grid-area: preis;
}

.muelltonne {
  grid-area: muelltonne;
}

@media (max-width: 960px) {
  .product-selection {
    grid-template-areas: "produktgruppe stueck preis muelltonne" "produkt produkt produkt produkt";
    grid-template-columns: auto 60px 80px 40px;
    row-gap: 10px;
  }
}

.product-selection input,
.product-selection select {
  /* font-size: 0.8em; */
  width: 100%;
}

.product-selection>button {
  align-self: end;
}

.add-prod-button {
  margin-top: 20px;
}


/* .product-selection>tbody>tr>td {
  width: 100%;
} */

label {
  display: block;
  font-family: 'Ubuntu', sans-serif;
  /* font-size: 1.25em; */
  font-weight: 500;
  padding-bottom: 4px;
}

.checkboxes {
  display: grid;
  grid-template-columns: 40px auto;
  column-gap: 20px;
  row-gap: 20px;
  justify-items: center;
  align-items: center;
}

.checkboxes>input {
  width: 25px;
  height: 25px;
}

.checkboxes>label {
  font-weight: normal;
  font-size: 0.8em;
}

.checkboxes>label[for='lieferung'] {
  font-weight: 500;
}

input,
select,
textarea {
  border-radius: 2px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  width: 800px;
  max-width: 100%;
  padding: 8px;
}

.quant-col,
.quant-col>input {
  width: 80px;
}

textarea {
  height: 250px;
}

.ges-betrag {
  text-align: right;
}

.ges-betrag>input {
  width: 100px;
}

button,
.lbl-toggle {
  width: 200px;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  color: #DDFED6;
  background-color: #80ca2c;
  cursor: pointer;
  border-radius: 7px;
  border-width: 0;
  transition: all 0.25s ease-out;
}

button:hover {
  background-color: #1EB300;
}

button.disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

button.square {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  color: dimgray;
  padding: 0;
}

button.square:hover {
  background-color: #aaa;
}

button[type='submit'] {
  display: block;
  margin: auto;
  margin-bottom: 40px;
}


/* ***************************************
   * The customized select drop-down box *
   *************************************** */


/* Based on: https://www.w3schools.com/howto/howto_custom_select.asp */


/* The container must be positioned relative: */

.custom-select {
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
}

.custom-select select {
  /* hide original select element: */
  display: none;
}


/* style the items (options), including the selected item: */

.select-selected,
.select-items>div {
  display: grid;
  align-items: center;
  background-color: whitesmoke;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  height: 50px;
  grid-template-areas: "produktimg produktname produktname produktpfeil" "produktimg lieferant preis produktpfeil";
  grid-template-columns: 50px auto 70px 25px;
  column-gap: 5px;
  padding: 5px;
}

.select-selected.nothing-selected {
  grid-template-areas: "produktname produktpfeil";
  grid-template-columns: auto 25px;
}

.select-selected.nothing-selected>.produktname::after {
  content: "Bitte auswählen...";
  padding-left: 5px;
}

.select-selected.nothing-selected>.produktimg,
.select-selected.nothing-selected>.lieferant,
.select-selected.nothing-selected>.preis {
  display: none;
}

.produktimg {
  grid-area: produktimg;
}

.produktname {
  grid-area: produktname;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lieferant {
  grid-area: lieferant;
}

.preis {
  grid-area: preis;
  justify-self: end;
}

.produktpfeil {
  grid-area: produktpfeil;
}


/* Style the arrow inside the select element: */

.produktpfeil {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.produktpfeil>div {
  content: ' ';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid currentColor;
  transition: transform .2s ease-out;
}


/* Point the arrow upwards when the select box is open (active): */

.select-selected.select-arrow-active>.produktpfeil>div {
  transform: rotate(180deg);
}


/* Style items (options): */

.select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}


/* .same-as-selected { */

.select-items div:hover {
  background-color: lightgray;
}

*/ .produktimg>img {
  width: 48px;
  height: 48px;
  border: 1px solid lightgray;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}